.pad {
    display: inline-block;
    position: relative;
    z-index: 1;
    /* width: 300px;
    height: 300px; */
    margin: 20px;
    padding: 25px;
    border-radius: 20px;
    background: transparent;
    /* background: linear-gradient(0.06deg, #fafafa 0%, #f6f6f6 29.62%, #eaeaea 58.47%, #d7d7d7 86.92%, #cccccc 99.22%); */
    box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1), -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
  }
  .pad:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }
  .pad.z {
    border-radius: 0 100px;
    background: linear-gradient(0.01deg, #b3b3b3 8.92%, #d5d5d5 31.91%, #f0f0f0 54.33%, #fafafa 67.52%);
  }
  .pad.z:before {
    margin: 8px;
    border-radius: 0 96px;
    background: linear-gradient(0.06deg, #fafafa 0%, #f6f6f6 29.62%, #eaeaea 58.47%, #d7d7d7 86.92%, #cccccc 99.22%);
  }
  .pad.a {
    border-radius: 150px 0;
    box-shadow: -1px -1px 2px #eee, -1px 0px 3px #eee, -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1), -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
  }
  .pad.a:before {
    border-radius: 168px 0;
  }